<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>553045182946-760du2dbi1k57quqtg56bjhlqv54s8in.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.553045182946-760du2dbi1k57quqtg56bjhlqv54s8in</string>
	<key>API_KEY</key>
	<string>AIzaSyD7OyYSW1ZaaNHDFyddvdoq6GqOcAc13zA</string>
	<key>GCM_SENDER_ID</key>
	<string>553045182946</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jobie.netflixclone-swift</string>
	<key>PROJECT_ID</key>
	<string>netflix-9b743</string>
	<key>STORAGE_BUCKET</key>
	<string>netflix-9b743.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:553045182946:ios:dedd21a6829e34c23811bb</string>
</dict>
</plist>